/* Amazonia Start */
.background-amazonia {
	background-color:#64663f;
	margin: 0 auto;
	background-image: url(../images/amazonia/bg-amazonia.jpg);
	background-repeat:no-repeat;
	background-position: 50% 160px;
}
.amazonia-header { background:url(../images/sierra/txt_header_sierra.gif)}
.line {border-top:#733f30 solid 2px; height:2px; width:90%; position:relative; margin:0 auto; top:150px; }
.nav_amazonia {background:url(../images/amazonia/bg-Navigation-amazonia.png) repeat;}

#Content { height: auto; }
div.content .span { background: none;}
/* Amazonia End */
