/* Costa Start */
.background-costa {
	background-color:#6d7984;
	margin: 0 auto;
	background-image: url(../images/costa/bg-costa.jpg);
	background-repeat:no-repeat;
	background-position: 50% 160px;}
	
.costa-header { background:url(../images/costa/txt_header_costa.gif)}
#Main {position:relative; height:2035px; background:url(../images/costa/bg-Main-costa.png) repeat}
.line {border-top:#733f30 solid 2px; height:2px; width:90%; position:relative; margin:0 auto; top:150px; }
.nav_costa {background:url(../images/costa/bg-Navigation-costa.png) repeat;}

#Content { height: auto; }
div.content .span { background: none;}
/* Costa End */
