#Header {height:125px;}
#Stickynote { background:#ff8441; height: 187px; width:187px; z-index:100; position:relative; top:21px}
#Left { min-height:100%;}
#Inner { height: auto;}
#Pic { height: 400px; margin:20px 0 0 0}
#Pic img { margin:20px 0 0 60px}
#Map { height: 300px; margin:90px 0 0 0}
#Footer { height: 106px; }