/* Pasado Start */
.background-pasado {
	background-color:#49250f;
	margin: 0 auto;
	background-image: url(../images/pasado/bg-pasado.gif);
	background-repeat:no-repeat;
	background-position: 50% 160px;}
	
.pasado-header { background:url(../images/pasado/txt_header_pasado.gif)}
#Main {position:relative; height:2035px; background:url(../images/pasado/bg-Main-pasado.png) repeat}
.line {border-top:#733f30 solid 2px; height:2px; width:90%; position:relative; margin:0 auto; top:150px; }
.nav_pasado {background:url(../images/pasado/bg-Navigation-pasado.png) repeat;}

#Content { height: auto; }
div.content .span { background: none;}
/* Pasado End */
