/* Sierra Start */
.background-sierra {
	background-color:#6482a1;
	margin: 0 auto;
	background-image: url(../images/sierra/bg-sierra.jpg);
	background-repeat:no-repeat;
	background-position: 50% 160px;}
	
.sierra-header { background:url(../images/sierra/txt_header_sierra.gif)}
#Main {position:relative; height:2035px; background:url(../images/sierra/bg-Main-sierra.png) repeat}
.line {border-top:#733f30 solid 2px; height:2px; width:90%; position:relative; margin:0 auto; top:150px; }
.nav_sierra {background:url(../images/sierra/bg-Navigation-sierra.png) repeat;}

#Content { height: auto; }
div.content .span { background: none;}
/* Amazonia End */
